:root {
  /* White */
  --white: #ffffff;

  /* Accent */
  --accent-600: #4863f7;
  --accent-500: #7878d7;

  /* Alert */
  --alert-600: #ff5c5c;
  --alert-800: #ff5c5c14;

  /* Gray */
  --gray-900: #0d0d0d;
  --gray-800: #111111;
  --gray-700: #1a1a1a;
  --gray-200: #424242;
  --gray-100: #737373;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--gray-100);
  border-radius: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: linear-gradient(
    to bottom right,
    var(--gray-900),
    var(--gray-800),
    var(--gray-700),
    var(--gray-200)
  );
  color: var(--white);
  height: 100vh;
}

body,
input,
button {
  font-family: "Inter", sans-serif;
}

.app {
  display: flex;
  min-height: 100vh;
  width: 100vw;
}

.main {
  flex: 1;
  gap: 8rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 62px 124px;
  overflow-y: scroll;
}

.main-header {
  gap: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main h1 {
  width: 100%;
  font-weight: 700;
}

.btn {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  height: 44px;
  gap: 10px;
}

.btn-outline {
  transition: background-color 0.5s;
  background: rgba(27, 27, 27, 0.3);
  border: 0.5px solid var(--gray-200);
  color: var(--white);
  padding: 0 16px;
}

.btn-outline:hover {
  background-color: var(--gray-200);
}

.icon {
  width: 20px;
  height: 20px;
}

.btn-primary {
  background: var(--accent-600);
  border: 1px solid var(--accent-500);
  color: var(--white);
  padding: 0 24px;
  transition: opacity 0.5s;
}
.btn-primary:hover {
  opacity: 0.8;
}

.w-150 {
  width: 150px;
  justify-content: center;
}

.prompt-title {
  font-weight: 600;
  font-size: 32px;
  outline: none;
}

.prompt-content {
  color: var(--white);
  font-size: 16px;
  outline: none;
  line-height: 32px;
}

.editable-wrapper::before {
  content: attr(data-placeholder);
  position: absolute;
  color: var(--gray-200);
  pointer-events: none;
  opacity: 0;
}

.editable-wrapper.is-empty::before {
  opacity: 1;
}

#title-wrapper.is-empty {
  font-size: 32px;
  font-weight: 600;
  color: var(--gray-200);
}

#content-wrapper.is-empty {
  font-size: 16px;
  color: var(--gray-200);
  line-height: 32px;
}

.btn-icon {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.open-toggle {
  background: var(--gray-800);
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  position: fixed;
  z-index: 0;
  left: 24px;
  top: 24px;
}

.sidebar {
  gap: 50px;
  width: 400px;
  padding: 32px;
  display: flex;
  z-index: 1000;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--gray-800);
  border-right: 0.5px solid var(--gray-700);
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.collapsed {
  width: 0;
  padding: 0;
  opacity: 0;
  transform: translateX(0);
}

.logo {
  height: 24px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
}

.search-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--gray-700);
  gap: 20px;
}

.search-icon {
  transform: translateY(-50%);
  position: absolute;
  left: 16px;
  top: 22px;
}

.search-input {
  background: transparent;
  height: 44px;
  width: 100%;
  border: 1px solid var(--gray-200);
  outline: none;
  color: var(--white);
  font-size: 16px;
  border-radius: 6px;
  padding-left: 48px;
}

.search-input::placeholder {
  color: var(--gray-200);
}

.btn-full {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.prompt-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 20px;
  gap: 12px;
}

.prompt-item-content {
  display: flex;
  flex-direction: column;
  min-width: 0;
  gap: 4px;
  flex: 1;
}

.prompt-item-title {
  font-size: 14px;
  font-weight: 500;
  color: var(--white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prompt-item-description {
  font-size: 12px;
  color: var(--gray-100);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-icon {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: background-color 0.3s;
  height: 32px;
  width: 32px;
}

.btn-icon:hover {
  background-color: var(--alert-800);
}

.icon-trash {
  width: 20px;
  height: 20px;
  stroke: var(--alert-600);
}

@media (max-width: 950px) {
  .open-toggle {
    display: block;
    top: 32px;
  }

  .sidebar {
    z-index: 1100;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80%;
    max-weight: 360px;
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .main {
    padding: 24px 32px;
    margin-left: 0;
    overflow: auto;
  }
}
